* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.member-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-information-userbox {
    display: flex;
    justify-content: center;
    gap: 200px;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.member-information-userbox-left, .member-information-userbox-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.member-information-profile {
    /* border: 2px solid peru; */
    /* padding: 10px; */
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.single-member-picture {
    background-color: yellow;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.member-information-connectionbox {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.member-information-connectionbox__element {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}

.member-information-two-structure-row-flex {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
}

.member-information-left-side-container {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-information-left-side__heading {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.member-information-left-side__headingline {
    width: 100%;
    margin: 10px 0;
}

.member-information-left-side__grid {
    display: grid;
    grid-template-columns: repeat(5, 200px); /* Always 5 columns with a fixed width */
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
    align-items: center;
    /* border: 2px solid red; */
}

.member-information-grid__element {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: 300px;
    position: relative; /* Ensures the   info is positioned inside the card */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 130px;
}

.member-information-review-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.member-information-review__element {
    display: flex;
    gap: 20px;
    border: 1px solid salmon;
}

.member-information-review-poster {
    width: 100px;
    height: 150px;
    background-color: gray;
}

.member-information-review-comment {
    flex-grow: 1;
    background-color: lightgray;
    padding: 10px;
}

@media (max-width: 1000px) {
    .member-information-two-structure-row-flex {
        flex-direction: column;
        align-items: center;
    }
    .member-information-left-side-container {
        width: 80%;
    }
    .member-information-review-container {
        width: 80%;
    }
}


/* Profile Image */
.members-page-profile-flex__image img {
    position: relative;
    top: 3px;
    width: 25px;
    height: 25px;
    user-select: none;
    border-radius: 50%;
    border: none; /* Removed border */
}