*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.filmcontainer{
position: relative;
    top:0%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: 2px solid red;
}
.childfilm{
    height: 200px;
    width: 100px;
    margin: 20px;
    background-color: aqua;
}
.criteraselectorbox{
    height: 40px;
    width: 100%;
    border: darkgreen 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.criteriachild{
    font-size: 20px;
    margin: 0 40px;
    font-weight: normal;
}
.rightsideflex{
    display: flex;
    flex-direction: row;
}
