*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
}

.film-page-container{
    position: relative;
    top:0%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: 2px solid red;
}
.film-page__child{
    height: 200px;
    width: 100px;
    margin: 20px;
    background-color: aqua;
}
.film-page-criteria-selectorbox{
    height: 40px;
    width: 100%;
    border: darkgreen 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: nowrap;
    align-items: center;
}
.film-page-criteria-selectorbox__element{
    font-size: 20px;
    margin: 0 40px;
    font-weight: normal;
}
