*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.headerbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 2px solid red;
}
.headerboxcomponent{
    margin: 0px 20px;
}
.header-links{
    display: flex;
    flex-direction: row;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.login-block{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.login-submit{
    cursor: pointer;
    padding: 0 10px;
}
.login-exit-to-logout{
    background-color: red;
    border-radius: 10%;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    
}